# Global Owners
*       @swittenberger @aveizu @alexandru-luca @lavinianastase

# ReFrameWork Owners
/REFramework/ @aveizu @lavinianastase

# Document Understanding Process Owners
/DocumentUnderstandingProcess/ @swittenberger @alexandru-luca
