# Global Owners
*       @swittenberger @aveizu @alexandru-luca @lavinianastase @corneldumitrascu @AlinaCapotaUiPath

# ReFrameWork Owners
/REFramework/ @aveizu @lavinianastase

# Document Understanding Process Owners
/DocumentUnderstandingProcess/ @swittenberger @alexandru-luca

#Test Suite Owners
/SAPChangeImpactMining/ @liviu-nicolae @AlvinStanescu

# BackgroundProcess Owners
/BackgroundProcess/ @aoltean16

# Complete Word Owners
/CompleteWord/ @flavius-manea @ovidiuiliescu

# Create PowerPoint Presentation Owners
/CreatePowerPointPresentation/ @flavius-manea @ovidiuiliescu

# Create Rich Html Email Owners
/CreateRichHtmlEmail/ @flavius-manea @ovidiuiliescu

# Download File Owners
/DownloadFile/ @flavius-manea @ovidiuiliescu

# Enter Excel Data Into Wesbsite Owners
/EnterExcelDataIntoWesbsite/ @flavius-manea @ovidiuiliescu

# Mobile Testing Project Owners
/MobileTestingProject/ @bogdancucosel

# Orchestration Process Owners
/OrchestrationProcess/ @aoltean16

# Save Outlook Attachments Owners
/SaveOutlookAttachments/ @flavius-manea @ovidiuiliescu

# Split Excel Sheet Owners
/SplitExcelSheet/ @flavius-manea @ovidiuiliescu

# Transactional Process Owners
/TransactionalProcess/ @aoltean16

# Trigger Based Attended Automation Owners
/TriggerBasedAttendedAutomation/ @aoltean16

# Test Automation Framework Owners
/test/ @AlinaCapotaUiPath @bebef1987
