# Global Owners
*       @swittenberger @aveizu @alexandru-luca @lavinianastase @corneldumitrascu

# ReFrameWork Owners
/REFramework/ @aveizu @lavinianastase

# Document Understanding Process Owners
/DocumentUnderstandingProcess/ @swittenberger @alexandru-luca

#Change Impact Analysis Owners
/ChangeImpactAnalysis/ @Liviu Nicolae 
