###### Requirements with Version Specifiers ######
pytest == 7.4.4        # Minimum version 7.1.2
PyYAML == 6.0.1         # Minimum version 6.0
pypdf == 4.0.0         # Minimum version 3.3.0
pandas == 2.2.0        # Minimum version 2.2.4
et-xmlfile == 1.1.0    # Minimum version 1.1.0
openpyxl == 3.1.2       # Minimum version 3.1
