###### Requirements with Version Specifiers ######
pytest>=7.1.2        # Minimum version 7.1.2
PyYAML>=6.0      # Minimum version 6.0
PyPDF2>=2.10.4       # Minimum version 2.10.4
pandas>=1.4.4        # Minimum version 1.4.4
et-xmlfile>=1.1.0    # Minimum version 1.1.0