<?xml version="1.0" encoding="utf-8"?>
<templates>
    <template name="AddChartToPowerPointPresentationFromExcel" />
    <template name="BackgroundProcess" />
    <template name="CompleteWordTemplatefromExcelandEmail" />
    <template name="CreatePowerPointPresentation" />
    <template name="CreateRichHtmlEmail" />
    <template name="DownloadFile" />
    <template name="EnterExcelDataIntoWesbsite" />
    <template name="MobileTestingProject" />
    <template name="OrchestrationProcess" />
    <template name="REFramework" />
    <template name="SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive" />
    <template name="SaveGMailAttachmentsToGoogleDrive" />
    <template name="SaveOutlook365AttachmentsToSharepointorOneDrive" />
    <template name="SaveOutlookAttachments" />
    <template name="SplitExcelSheet" />
    <template name="TransactionalProcess" />
    <template name="TriggerBasedAttendedAutomation" />
</templates>
