<?xml version="1.0" encoding="utf-8"?>
<templates>
    <template name="CompleteWordTemplatefromExcelandEmail" />
    <template name="CreatePowerPointPresentation" />
    <template name="CreateRichHtmlEmail" />
    <template name="DownloadFile" />
    <template name="EnterExcelDataIntoWesbsite" />
    <template name="SAPChangeImpactMining" />
    <template name="SaveOutlookAttachments" />
    <template name="SplitExcelSheet" />
</templates>
