<?xml version="1.0" encoding="utf-8"?>
<templates>
    <template name="BackgroundProcess" />
    <template name="CompleteWord" />
    <template name="CreatePowerPointPresentation" />
    <template name="CreateRichHtmlEmail" />
    <template name="DownloadFile" />
    <template name="EnterExcelDataIntoWesbsite" />
    <template name="MobileTestingProject" />
    <template name="OrchestrationProcess" />
    <template name="REFramework" />
    <template name="SaveOutlookAttachments" />
    <template name="SplitExcelSheet" />
    <template name="TransactionalProcess" />
    <template name="TriggerBasedAttendedAutomation" />
</templates>
